<div class="card mt-3">
  <div class="card-header">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <i class="fas fa-angle-double-right"></i> Member Activity
        </li>
    </ul>
  </div>
  <div class="card-body">
    <div class="row">
        Some activity
    </div>
  </div>
</div>