<div class="card">
    <div class="row">
        <div class="col-4">
            <img class="rounded-circle profile-image" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(21).jpg"data-holder-rendered="true">
        </div>
        <div class="col-5 mt-5">
            <div class="row">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <h4><%= @user.full_name %></h4>
                </li>
                <li class="list-inline-item">
                    <span class="badge badge-pill badge-info">Admin</span>
                </li>    
            </ul>
            </div>
            <div class="row mb-3">
                <span class="text-muted">Field Artillery Officer</span>
            </div>
            <div class="row">
                <span class="badge badge-pill badge-success">Active</span>    
            </div>
        </div>
        <div class="col mt-5">
            <div class="row">
                <h4>Company</h4>
            </div>
            <div class="row">
                <span class="text-muted">United States Army</span>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col border-right">
            Days Active:
            <h1>32</h1>
        </div>
        <div class="col border-right">
            Days a Member:
            <h1>108</h1>
        </div>
        <div class="col">
            Resources Booked:
            <h1>3</h1>
        </div>
    </div>
</div>