// Place all the styles related to the resources controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
    // box-shadow: 0px -1px 10px #0000006E
    border-top-style: solid;
    border-width: 1px;
    border-color: #6e6e6e6E;
}

.navbar-brand {
    background-color: transparent; 
}

.nav-item a {
    color: #000;
}

.resource-body {
    background-color: #000
}

.resource-status {
    color: #fff;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-style: hidden;
    box-shadow: 3px 0px 30px #0000006E
}

.status-avaliable {
    background: rgb(178,224,194);
    background: linear-gradient(120deg, rgba(178,224,194,1) 0%, rgba(82,162,140,1) 100%);
}

.status-in-use {
    background: rgb(224,178,208);
    background: linear-gradient(120deg, rgba(224,178,208,1) 0%, rgba(162,82,113,1) 100%);
}

.status-in-queue {
    background: rgb(178,210,224);
    background: linear-gradient(120deg, rgba(178,210,224,1) 0%, rgba(51,61,134,1) 100%);
}

.resource-status h1 {
    font-size: 10em;
    font-weight: normal;

}

.resource-status h2 {
    font-size: 4em;
    font-weight: normal;
}

.resource-status h6 {
    font-size: 2em;
    font-weight: lighter;
}

.booking-details {
    font-size: 2em;
}

.booking-content {
    opacity: 0.5;
}

.no-booking-circle {
      width: 27px;
      height: 27px;
      background: transparent;
      border-radius: 50%;
      border: 5px solid #A3A3A3;
}

.booked-shape {
    background-color: #000;
    height: 100%;
    width: 21px;
    border-radius: 18px;
}

.time-remaining {
    opacity: 0.25;
}

